<div class="container" style="margin-top: 20px;">
    <form (ngSubmit)="modifiertype(f)" #f=ngForm>
         
      <div class="form-group">
        <label for="nom">Nom </label>
        <input type="text" class="form-control" placeholder="Enter nom " 
        [(ngModel)]=type.nom ngModel name="nom"  required #nom="ngModel">
        <span style=color:red *ngIf="!nom.valid && nom.touched">Entrez le nom  </span>
      </div>
      
      <button type="submit" [disabled]=!f.valid class="btn btn-success">Submit</button>
  
    </form>
  </div>