<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      
      <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
      <meta name="viewport" content="width=device-width" />
      
        
      <link href="./assets/cssMenu/bootstrap.css" rel="stylesheet" />
    <link href="./assets/cssMenu/coming-sssoon.css" rel="stylesheet" />    
      
  </head>
  
  <body>
    <nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">  
      <div class="container">
    
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  
          <ul class="nav navbar-nav navbar-right">
                <li>
                    <a routerLink="/ListeContacts"> 
                        <i class="fa fa-home"> </i>
                       <b>&nbsp;&nbsp; Acceuil</b>
                    </a>
                </li>
                </ul>
        </div>
      </div>
              </nav>
    <!-- Navbar -->
  <div class="main" style="background-image: url('./assets/images/1.jpg')">
    
      <div class="cover black" data-color="black"></div> <!-- bch t3mlii font noir sur image -->
      <div class="container">
          <h1  class="logo cursive">
             Mes Contacts 
          </h1>
  
      </div>
   </div>
   </body>
  
  </html>
  
  <router-outlet></router-outlet>